<div>
  <input ng-model='report.message' placeholder='Enter message' type='text'>
  <input ng-model='report.type' placeholder='Crime type' type='text'>
  <input ng-model='report.reportedBy' placeholder='Anonymous' type='text'>
  <input ng-model='report.zipCode' placeholder='zipCode' type='text'>
  <input ng-model='report.phoneNumber' placeholder='phoneNumber' type='number'>
  <input ng-model='report.email' placeholder='email' type='email'>
  <button class='btn btn-default' ng-click='submit()'>Submit</button>
</div>